
 <div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp'); height: 100vh; ">
   <h2 style="color:white">
      <center>Login</center><br>
      <%= form_tag '/login' do %>
         <%= label_tag :username%>
         <%= text_field_tag :username %><br><br>      
         <%= label_tag :password%>
         <%= password_field_tag :password%><br><br>
         <center><%= submit_tag "Login"%></center>
   </h2>
      <%end%>
</div>
