 <!--Comments-->  
<h3>Comment Plz:</h3>
<%= form_with model: [ @product, @product.comments.build ] do |form| %>
    <%= form.hidden_field :user_id, :value => current_user.id%>
        <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
        </p>
        <p>
            <%= form.submit %>
        </p>
<% end %>

<hr>